.CountryPicker {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CountryPicker > select {
  width: 30%;
  height: 6vh;
  font-size: 17px;
  border: none;
  background-color: #f7f9fe;
  border-bottom: 1px solid #056cc4;
}
select:focus {
  outline: none;
}
@media screen and (max-width: 680px) {
  .CountryPicker {
    /* width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: 15px 0; */
    padding: 15px 0px;
  }
  .CountryPicker > select {
    width: 80%;
    height: 6vh;
    font-size: 17px;
    border: none;
    background-color: #f7f9fe;
    border-bottom: 1px solid #056cc4;
  }
  /* select:focus {
    outline: none;
  } */
}
