.TakeSteps {
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column;
  justify-content: space-between; */
  justify-content: center;
  align-items: center;
  background-color: #f7f9fe;
  padding: 5vh 5vw;
  font-family: "Roboto", sans-serif;
  color: #3d4b69;
}
.TakeSteps > div {
  background-color: #fff;
  width: 100%;
  height: 77vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-justify: auto;
}

.imageSection {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageSection img {
  height: 100%;
}
.checkIcon {
  color: #3dca93;
  margin-right: 10px;
}
.textSection {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.textSection > div {
  display: flex;
  font-size: 16px;
  line-height: 23px;
}
.boldText {
  font-weight: bolder;
}
