/* .emptySpace {
  width: 100%;
  height: 5vh;
  background-color: #f7f9fe;
} */
.moveTo {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #056cc4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.3), 0 6px 20px 0 rgba(7, 7, 7, 0.3);
  text-align: center;
}
.moveTo img {
  width: 60%;
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
