.Treatment {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2766bb;
  padding: 5vh 8vw;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}
.TreatmentBox {
  background-color: #1b47a1;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.TreatmentBox > div:first-child {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.TreatmentBox > div:last-child {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.TreatmentBox h3 {
  font-family: "Oswald", sans-serif;
}
.TreatmentText {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  text-align: justify;
  text-align: right;
}
.TreatmentText h1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}
.TreatmentText p {
  font-size: 16px;
  line-height: 25px;
}
.TreatmentText h3 {
  color: #73e3ff;
  font-family: "Oswald", sans-serif;
}
@media screen and (max-width: 680px) {
  .Treatment {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh 4vw;
  }
  .TreatmentBox {
    width: 100%;
    height: 70%;
  }

  .TreatmentText {
    width: 100%;
    height: 50%;
  }
  .TreatmentText h1 {
    font-size: 30px;
  }
  .TreatmentText p {
    font-size: 15px;
    line-height: 23px;
  }
}
