.AboutPage {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5vw;
  font-family: "Roboto", sans-serif;
}
.ImageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.ImageSection > div {
  width: 80%;
  height: 63%;
  background-color: #f7f9fe;
  border: 1px solid #d6d8d8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ImageSection > div > div {
  width: 100%;
  height: 14%;
  background-color: #fff;
  border-bottom: 1px solid #d6d8d8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 7%;
  color: #1468cd;
}
.ImageSection > div > div:first-child {
  color: #3d4b69;
  font-weight: bold;
  font-size: 20px;
}
.ImageSection > div > div:last-child {
  border: none;
}
.ImageSection a {
  color: #1468cd;
  text-decoration: none;
  font-size: 17px;
}
.TextSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: justify;
  text-align: right;
}
.TextSection > div {
  padding: 10px 0px;
}
.TextSection h1 {
  font-family: "Oswald", sans-serif;
  color: #50658e;
  font-size: 40px;
  font-weight: 700;
}
.TextSection h3 {
  font-size: 20px;
  font-weight: 900;
}
.TextSection p {
  font-size: 17px;
  margin: 5px 0;
}
.TextSection > div:first-child > h3 {
  color: #1468cd;
  font-family: "Oswald", sans-serif;
}
