:root {
  --theme-color-one: #a56cc1;
  --theme-color-two: #a6acec;
  --theme-color-three: #ace7ef;
  --theme-color-four: #cefff1;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--theme-color-three);
  color: #3d4b69;
}

.Skeleton {
  /* background-color: red; */
}
