.Transmission {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f9fe;
  padding: 0 5vw;
  font-family: "Roboto", sans-serif;
}

.TextSection {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ImageSection {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ImageSection > div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ImageSection h3 {
  color: #1468cd;
  margin: 5% 5% 0% 5%;
}
.ImageSection p {
  margin: 2% 5% 0% 5%;
}
.ImageSection img {
  width: 100%;
}
